<div xmlns:th="http://www.thymeleaf.org">
    <!-- Start ./ createProduct-->
    <div  th:fragment="createProduct" id="createProduct" class="convert-page">
        <div class="form-group">
            <label for="createProductName">Name :</label>
            <input type="text" class="form-control" id="createProductName" aria-describedby="emailHelp" placeholder="Nhập tên của sản phẩm">
        </div>
        <div class="form-group">
            <label for="createProductDescription">Description :</label>
            <input type="text" class="form-control" id="createProductDescription" aria-describedby="emailHelp" placeholder="Nhập mô tả của sản phẩm">
        </div>
        <div class="form-group">
            <label for="createProductIdImage">Id image :</label>
            <input type="number" class="form-control" id="createProductIdImage" aria-describedby="emailHelp" placeholder="Nhập giá id của ảnh sản phẩm">
        </div>
        <div class="form-group" style="border: none">
            <label for="createProductImage1">Image 1 :</label>
            <input type="file" name="file" class="form-control productImage createProduct " id="createProductImage1" aria-describedby="emailHelp">
            <img id="newImageProduct1" class="newImageProduct" style="border: none;margin-top: 15px;" width="200" height="200"  alt="">
        </div>
        <div class="form-group" style="border: none">
            <label for="createProductImage2">Image 2 :</label>
            <input type="file" name="file" class="form-control productImage createProduct" id="createProductImage2" aria-describedby="emailHelp">
            <img id="newImageProduct2" class="newImageProduct" style="border: none;margin-top: 15px;" width="200" height="200"  alt="">
        </div>
        <div class="form-group" style="border: none">
            <label for="createProductImage3">Image 3 :</label>
            <input type="file" name="file" class="form-control productImage createProduct" id="createProductImage3" aria-describedby="emailHelp">
            <img id="newImageProduct3" class="newImageProduct" style="border: none;margin-top: 15px;" width="200" height="200"  alt="">
        </div>
        <div class="form-group" style="border: none">
            <label for="createProductImage4">Image 4 :</label>
            <input type="file" name="file" class="form-control productImage createProduct" id="createProductImage4" aria-describedby="emailHelp">
            <img id="newImageProduct4" class="newImageProduct" style="border: none;margin-top: 15px;" width="200" height="200"  alt="">
        </div>
        <div class="form-group" style="border: none">
            <label for="createProductImage5">Image 5 :</label>
            <input type="file" name="file" class="form-control productImage createProduct" id="createProductImage5" aria-describedby="emailHelp">
            <img id="newImageProduct5" class="newImageProduct" style="border: none;margin-top: 15px;" width="200" height="200"  alt="">
        </div>
        <div class="form-group">
            <label for="createProductNewPrice">New Price :</label>
            <input type="number" class="form-control" id="createProductNewPrice" aria-describedby="emailHelp" placeholder="Nhập giá tiền mới của sản phẩm">
        </div>
        <div class="form-group">
            <label for="createProductOldPrice">Old Price :</label>
            <input type="number" class="form-control" id="createProductOldPrice" aria-describedby="emailHelp" placeholder="Nhập giá tiền cũ của sản phẩm">
        </div>
        <div class="form-group">
            <label for="createProductPromotion">Promotion :</label>
            <input type="number" class="form-control" id="createProductPromotion" aria-describedby="emailHelp" placeholder="Mời nhâp khuyển mãi của sản phẩm!">
        </div>
        <div class="form-group">
            <label for="createProductStar">Star :</label>
            <input type="number" class="form-control" id="createProductStar" aria-describedby="emailHelp" placeholder="Nhập đánh giả của sản phẩm từ 1 - 5">
        </div>
        <div class="form-group">
            <label for="createProductType">Product Type :</label><br/>
            <select id="createProductType" class="product-type">
                <option value="1">Tủ trẻ em</option>
                <option value="2">Tủ quần áo</option>
                <option value="3">Tủ đài loan cách sơn</option>
                <option value="4">Tủ tủ quần áo hàn quốc</option>
                <option value="5">Bàn học</option>
                <option value="6">Tủ giày</option>
                <option value="7">Gường và tủ bếp</option>
                <option value="8">Kệ tivi</option>
            </select>
        </div>
        <div class="modal-footer btn-save">
            <button type="button" id="btnSaveProductCreate" class="btn btn-primary"
            >Save changes</button>
        </div>
    </div>
    <!--End ./ createProduct-->

    <!-- Start ./ createUser-->
    <div  th:fragment="createUser" id="createUser"  class="convert-page">
        <div class="form-group">
            <label for="createUserName">Name :</label>
            <input type="text" class="form-control" id="createUserName" aria-describedby="emailHelp" placeholder="Nhập tên của sản phẩm">
        </div>
        <div class="form-group">
            <label for="createUserAccount">Account :</label>
            <input type="email" class="form-control" id="createUserAccount" aria-describedby="emailHelp" placeholder="Nhập tài khoản của người dùng">
        </div>
        <div class="form-group">
            <label for="createUserPassword">Password :</label>
            <input type="password" class="form-control" id="createUserPassword" aria-describedby="emailHelp" placeholder="Nhập giá mật khẩu của người dùng">
        </div>
        <div class="form-group">
            <label for="createUserAccountBank">Account Bank :</label>
            <input type="text" class="form-control" id="createUserAccountBank" aria-describedby="emailHelp" placeholder="Nhập tài khoản ngây hàng của người dùng">
        </div>
        <div class="form-group">
            <label for="createUserAddress">Address:</label>
            <input type="text" class="form-control" id="createUserAddress" aria-describedby="emailHelp" placeholder="Nhập địa chỉ của người dùng">
        </div>
        <div class="form-group" style="border: none">
            <label for="createUserFace">User Face :</label>
            <input type="file" name="file" class="form-control productImage  createProduct" id="createUserFace" aria-describedby="emailHelp">
            <img id="UserFace" class="newImageProduct" style="border: none;margin-top: 15px;" width="200" height="200"  alt="">
        </div>
        <div class="form-group">
            <label for="createUserEmail">Email :</label>
            <input type="email" class="form-control" id="createUserEmail" aria-describedby="emailHelp" placeholder="Nhập email của người dùng">
        </div>
        <div class="form-group">
            <div>Sex :</div>
            <label for="createUserSexMale">Male : </label>
            <input type="radio" name="createUserSex" id="createUserSexMale" value="true" aria-describedby="emailHelp">
            <label for="createUserSexFemale">Female :</label>
            <input type="radio" name="createUserSex" id="createUserSexFemale" value="false" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="createUserBirthday">Birthday :</label>
            <input type="date" class="form-control" id="createUserBirthday" aria-describedby="emailHelp" placeholder="Nhập ngày sinh của người dùng">
        </div>
        <div class="form-group">
            <label for="createUserPhone">Phone :</label>
            <input type="number" class="form-control" id="createUserPhone" aria-describedby="emailHelp" placeholder="Nhập số điện thoại của người dùng">
        </div>
        <div class="modal-footer btn-save">
            <button type="button" id="btnSaveUserCreate" class="btn btn-primary"
            >Save changes</button>
        </div>
    </div>
    <!--End ./ createUser-->
</div>