<div xmlns:th="http://www.thymeleaf.org">
    <!-- start ./ header -->
    <header th:fragment="header" class="header">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <button class="btn-menu" type="button" name="btn-menu"><i class="fas fa-bars"></i></button>
                <div class="search">
                    <input type="text" class="search" name="search" placeholder="Tìm kiếm theo tên sản phẩm !">
                    <button class="btn-search"><i style="color: #fff;" class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">

            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="left-info">
                    <div class="infomation">
                        <a href="#">
                            <i class="fas fa-bell info"></i>
                            <span> 3+ </span>
                        </a>
                        <a href="#">
                            <i class="fas fa-envelope email"></i>
                            <span> 7 </span>
                        </a>
                    </div>
                    <div class="face-user">
                        <span style="color:#54515191">Admin</span>
                        <img width="40" height="40" th:src="@{/image/face/face.jpg}" name="face" class="face" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end ./ header -->
</div>