<div xmlns:th="http://www.thymeleaf.org">


    <!-- start ./ head -->
    <head th:fragment="head" >
        <title>Nội thất viết-nhật-sang-rẻ-đẹp</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
        <link rel="shortcut icon" th:href="@{../image/favicon.png}" type="image/x-icon">
        <link rel="stylesheet" th:href="@{../../../css/style.css}">
        <link rel="stylesheet" th:href="@{../css/convertPage.css}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- fontawesome icon -->
        <link rel="stylesheet"
              href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    </head>
    <!-- end ./ head -->

    <!-- start ./ header -->
    <header th:fragment="header" class="header">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <button class="btn-menu" type="button" name="btn-menu"><i class="fas fa-bars"></i></button>
            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">

            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="left-info">
                    <div class="infomation">
                        <a href="#">
                            <i class="fas fa-bell info"></i>
                            <span> 3+ </span>
                        </a>
                        <a href="#">
                            <i class="fas fa-envelope email"></i>
                            <span> 7 </span>
                        </a>
                    </div>
                    <div class="face-user">
                        <span style="color:#54515191">Admin</span>
                        <img width="40" height="40" th:src="@{/image/face/face.jpg}" name="face" class="face" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end ./ header -->
</div>