<div xmlns:th="http://www.thymeleaf.org">
    <!-- start ./ content -->
    <main style="display: block;" th:fragment="home" id="content" class="content">
        <div class="title">
            <p>Dashboard</p>
            <a href="#"><i class="fas fa-download"></i>  Generate Report</a>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="left-info left-info-1"></div>
                <div class="right-info right-info-1">
                    <p>EARNINGS (MONTHLY)</p>
                    <div class="money-info">
                        <p>$40,000</p>
                    </div>
                    <i class="fas fa-calendar-week"></i>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="left-info left-info-2"></div>
                <div class="right-info right-info-2">
                    <p>EARNINGS (MONTHLY)</p>
                    <div class="money-info">
                        <p>$40,000</p>
                    </div>
                    <i class="fas fa-dollar-sign"></i>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">

                <div class="left-info left-info-3"></div>
                <div class="right-info right-info-3">
                    <p>TASKS</p>
                    <div class="money-info">
                        <p>$40,000</p>
                    </div>
                    <i class="fas fa-tasks"></i>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
                <div class="left-info left-info-4"></div>
                <div class="right-info right-info-4">
                    <p>PENDING REQUESTS</p>
                    <div class="money-info">
                        <p>16</p>
                    </div>
                    <i class="fas fa-comments"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="card-projects">
                            <div class="title-projects">
                                <p>Projects</p>
                            </div>
                            <div class="body-projects ">
                                <div class="item-projects ">
                                    <div class="name-projects ">
                                        <p>Server Migration</p>
                                        <p>20%</p>
                                    </div>
                                    <div class="bar-percent ">
                                        <div class="show-percent show-percent-1"></div>
                                    </div>
                                </div>
                                <div class="item-projects ">
                                    <div class="name-projects ">
                                        <p>Server Migration</p>
                                        <p>20%</p>
                                    </div>
                                    <div class="bar-percent ">
                                        <div class="show-percent show-percent-2"></div>
                                    </div>
                                </div>
                                <div class="item-projects ">
                                    <div class="name-projects ">
                                        <p>Server Migration</p>
                                        <p>20%</p>
                                    </div>
                                    <div class="bar-percent ">
                                        <div class="show-percent show-percent-3"></div>
                                    </div>
                                </div>
                                <div class="item-projects ">
                                    <div class="name-projects ">
                                        <p>Server Migration</p>
                                        <p>20%</p>
                                    </div>
                                    <div class="bar-percent ">
                                        <div class="show-percent show-percent-4"></div>
                                    </div>
                                </div>
                                <div class="item-projects ">
                                    <div class="name-projects ">
                                        <p>Server Migration</p>
                                        <p>Complete!</p>
                                    </div>
                                    <div class="bar-percent ">
                                        <div class="show-percent show-percent-5"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="item-category item-category-1">
                            <p>Success</p>
                            <p>#1cc88a</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="item-category item-category-2">
                            <p>Success</p>
                            <p>#1cc88a</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                        <div class="item-category item-category-3">
                            <p>Success</p>
                            <p>#1cc88a</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                        <div class=" item-category item-category-4">
                            <p>Success</p>
                            <p>#1cc88a</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                        <div class=" item-category item-category-5">
                            <p>Success</p>
                            <p>#1cc88a</p>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                        <div class=" item-category item-category-6">
                            <p>Success</p>
                            <p>#1cc88a</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
                <div class="card-illustrations ">
                    <div class="title-projects ">
                        <p>Illustrations</p>
                    </div>
                    <div class="content-illustrations ">
                        <img th:src="@{../image/illustrations.jpg}" width="100% " class="img-illustrations " />
                        <p>Add some quality, svg illustrations to your project courtesy of <a href="# ">unDraw</a>, a constantly updated collection of beautiful svg images that you can use completely free and without attribution!</p>
                        <a href="#">Browse Illustrations on unDraw →</a>
                    </div>
                </div>
                <div class="card-approach ">
                    <div class="title-projects ">
                        <p>Development Approach</p>
                    </div>
                    <div class="content-approach ">
                        <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce CSS bloat and poor page performance. Custom CSS classes are used to create custom components and custom utility classes.</p>
                        <p>Before working with this theme, you should become familiar with the Bootstrap framework, especially the utility classes.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- end ./ content -->
</div>