<div xmlns:th="http://www.thymeleaf.org">
    <!-- Start ./ editProduct-->
    <div  style="display: none" th:fragment="editProduct" id="editProduct" class="convert-page">
        <div class="form-group">
            <label for="editProductName">Name :</label>
            <input type="text" class="form-control" id="editProductName" aria-describedby="emailHelp" placeholder="Nhập tên của sản phẩm">
        </div>
        <div class="form-group">
            <label for="editProductDescription">Description :</label>
            <input type="text" class="form-control" id="editProductDescription" aria-describedby="emailHelp" placeholder="Nhập mô tả của sản phẩm">
        </div>
        <div class="form-group">
            <label for="editProductPrice">Price :</label>
            <input type="number" class="form-control" id="editProductPrice" aria-describedby="emailHelp" placeholder="Nhập giá tiền của sản phẩm">
        </div>
        <div class="form-group">
            <label for="editProductStar">Star :</label>
            <input type="number" class="form-control" id="editProductStar" aria-describedby="emailHelp" placeholder="Nhập đánh giả của sản phẩm từ 1 - 5">
        </div>
        <div class="form-group" style="border: none">
            <label for="editProductImage">Image :</label>
            <input type="file" name="file" class="form-control productImage" id="editProductImage" aria-describedby="emailHelp">
            <img id="newImageProduct" style="border: none;margin-top: 15px;" width="200" height="200"  alt="">
        </div>
        <div class="modal-footer btn-save">
            <button type="button" id="btnSaveProductEdit" class="btn btn-primary"
            >Save changes</button>
        </div>
    </div>
    <!--End ./ editProduct-->

    <!-- Start ./ editUser-->
    <div  style="display: none" th:fragment="editUser" id="editUser" class="convert-page">
        <div class="form-group">
            <label for="editUserName">Name :</label>
            <input type="text" class="form-control" id="editUserName" aria-describedby="emailHelp" placeholder="Nhập tên của sản phẩm">
        </div>
        <div class="form-group">
            <label for="editUserDescription">Description :</label>
            <input type="text" class="form-control" id="editUserDescription" aria-describedby="emailHelp" placeholder="Nhập mô tả của sản phẩm">
        </div>
        <div class="form-group">
            <label for="editUserPrice">Price :</label>
            <input type="number" class="form-control" id="editUserPrice" aria-describedby="emailHelp" placeholder="Nhập giá tiền của sản phẩm">
        </div>
        <div class="form-group">
            <label for="editUserStar">Star :</label>
            <input type="number" class="form-control" id="editUserStar" aria-describedby="emailHelp" placeholder="Nhập đánh giả của sản phẩm từ 1 - 5">
        </div>
        <div class="form-group" style="border: none">
            <label for="userImage">Image :</label>
            <input type="file" name="file" class="form-control productImage" id="userImage" aria-describedby="emailHelp">
            <img id="newImageUser" style="border: none;margin-top: 15px;" width="200" height="200"  alt="">
        </div>
        <div class="modal-footer btn-save">
            <button type="button" id="btnSaveUserEdit" class="btn btn-primary"
            >Save changes</button>
        </div>
    </div>
    <!--End ./ editUser-->
</div>