<div xmlns:th="http://www.thymeleaf.org">
    <!--Start ./ head-->
    <head th:fragment="head">
        <title>Nội thất viết-nhật-sang-rẻ-đẹp</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
        <link rel="shortcut icon" th:href="@{/image/favicon.png}" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/css/styleWeb.css}">
        <link rel="stylesheet" th:href="@{/css/styleDetail.css}">
        <link rel="stylesheet" th:href="@{/css/styleSearch.css}">
        <link rel="stylesheet" th:href="@{/css/login.css}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <!-- fontawesome icon -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    </head>
    <!--End ./ head-->

    <!-- Start ./ header -->
<header th:fragment="header" class="header">
    <div id="top-menu" class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                    <div class="contact">
                        <ul>
                            <li><a href="#">Tải ứng dụng</a></li>
                            <li><a href="#">Chia sẻ</a></li>
                            <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <ul class="login">
                        <li>
                            <a href="#"><i class="fas fa-bell"></i> Thông báo</a>
                            <div class="sub-menu">
                                <p>Thông báo nhận</p>
                                <ul class="content-info">
                                    <li>
                                        <a href="#">
                                            <img src="" alt="">
                                            <div class="infomation">
                                                <p>Siêu khuyến mãi</p>
                                                <p>Khuyễn mãi đến 50% chó tất cả sản phẩm</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="" alt="">
                                            <div class="infomation">
                                                <p>Siêu khuyến mãi</p>
                                                <p>Khuyễn mãi đến 50% chó tất cả sản phẩm</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="" alt="">
                                            <div class="infomation">
                                                <p>Siêu khuyến mãi</p>
                                                <p>Khuyễn mãi đến 50% chó tất cả sản phẩm</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <a href="">Xem tất cả</a>
                            </div>
                        </li>
                        <li><a href="#"><i class="far fa-question-circle"></i> Trợ giúp</a></li>
                        <li><a href="#">Đăng ký</a></li>
                        <li><a href="#">Đăng nhập</a></li>
                    </ul>
                </div>
            </div>
            <div class="row input">
                <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                    <div class="logo">
                        <a th:href="@{'/product/webHome'}" ><img width="150px" class="image-logo" th:src="@{/image/logo-viet-nhat.png}" height="66"></a>
                    </div>
                </div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-8 col-xl-8">
                    <div class="search">
                        <input class="search-input" id="keywordSearch" type="text" placeholder="Nhập tên sản phẩm!!!">
                        <button type="submit" id="searchProduct" class="btn-search btn-danger">Search</button>
                    </div>
                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <div class="login">
                        <button style="position: relative;" type="button" class="btn btn-danger">
                            <i class="fab fa-opencart"></i>
                            <p th:text="${lengthProduct}" class="cast-product">1</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End ./ header -->

</div>