<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--Start ./ head-->
<div th:replace="/web/default/header :: head"></div>
<!--End ./ head-->

<body>
<!--Start ./ header-->
<div th:replace="/web/default/header :: header"></div>
<!--End ./ header-->

<!-- Start ./ content -->
<main class="content container">
    <div class="breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{'/product/productHome'}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cast Product</li>
            </ol>
        </nav>
    </div>
    <div  class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
            <input type="checkbox" id="checkProduct" name="checkProduct" />
        </div>
        <div class="col-5 col-sm-5 col-md-4 col-lg-4 col-xl-4">
            <p>Sản phẩm</p>
        </div>
        <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
            <p>Đơn giá</p>
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <p>Số lượng</p>
        </div>
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <p>Số tiền</p>
        </div>
        <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
            <p>Thao tác</p>
        </div>
    </div>
    <div class="lst-cast-product" th:each="product : ${lstCast}">
        <input type="hidden" id="idCastProduct" th:value="${product.getId()}">
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                <div class="checkbox">
                    <input type="checkbox" id="checkProduct" name="checkProduct" />
                </div>
            </div>
            <div style="display: flex;" class="col-5 col-sm-5 col-md-4 col-lg-4 col-xl-4">
                <div class="img-product">
                    <img th:src="@{${product.getImgProduct()}}" height="100" width="100" alt="ảnh sản phẩm">
                    <div th:text="${product.getPromotion() + ' %'}" class="sale">54%</div>
                </div>
                <div class="name-product">
                    <a th:href="@{${'/product/detail/' + product.getId()}}" th:text="${product.getName()}" class="card-title">Tủ trẻ em</a>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2">
                <div class="cast-body">
                    <p class="card-money" th:text="${#numbers.formatDecimal(product.getNewPrice(), 0, 'COMMA', 4, 'POINT')} + ' VNĐ'" >99.000 VND</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-light">-</button>
                    <button type="button" class="btn btn-light">1</button>
                    <button type="button" class="btn btn-light">+</button>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                <div class="cast-footer">
                    <p th:text="${#numbers.formatInteger(product.getNewPrice(), 1)*3} + ' VNĐ'">20000 VNĐ</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
                <div class="cast-footer">
                    <button id="deleteCastProduct" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="mess-null">
        <h1 th:text="${mess != null ? mess : ''}">Ko có sản phẩm</h1>
    </div>
    <div id="pagination" class="pagination" >
        <a th:each="i : ${#numbers.sequence(0, totalPage)}"
           th:class="${currentPage == i} ? 'active' : 'inactive'"
           th:href="@{'webHome?Page=' + ${i}}" th:text="${i+1}">
        </a>
        <span>...</span>
        <a style="width: 40px;" th:href="@{'webHome?Page=' + ${currentPage >= totalPage ? currentPage : currentPage+1}}">Next</a>
    </div>
    <!--end video-->
    <div id="pay" class="pay">
        <div class="left-pay">
            <input type="checkbox" class="all-product">
            <span> Chọn tất cả (3 Sản phẩn)</span>
        </div>
        <div class="right-pay">
            <span>Tổng tiền hàng (3 Sản phẩm) : </span>
            <span class="pay-money">30000 VNĐ</span>
            <button id="btn-pay" type="button" class="btn btn-danger btn-pay">Thanh Toán</button>
        </div>
    </div>
</main>
<!-- End ./ content -->

<!-- Start ./ footer -->
<div th:replace="/web/default/footer :: footer"></div>
<!-- End ./ footer -->

<!-- start ./ messenger -->
<div th:replace="/web/default/footer :: messenger"></div>
<!-- end ./ messenger -->

<!-- Start ./ footer -->
<div th:replace="/web/default/footer :: javascript"></div>

<script type="text/javascript">
    $(document).ready(function () {
        let pagination = $( "div#pay" );
        let offset = pagination.offset();
        let bottom = $(window).height() - pagination.height();
        bottom = offset.top - bottom;
        $(window).scroll(function(){
            // lấy vị trí hiện tại của thanh scroll
            let pos_body = $("body,html").scrollTop();
            let pay = $('div#pay');
            // add class
            if(pos_body < bottom) {
                $('div#pay').addClass('fixed-pay');
            }else if(pos_body > bottom) {
                $('div#pay').removeClass('fixed-pay');
            }
        });
    });
</script>
<!-- End ./ footer -->
</body>

</html>