<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="/web/default/header :: head"></div>

<body>
<!--Start ./ header-->
<div th:replace="/web/default/header :: header"></div>
<!--End ./ header-->

<!-- Start ./ content -->

<!-- End ./ content -->

<!-- Start ./ footer -->
<div th:replace="/web/default/footer :: footer"></div>
<!-- End ./ footer -->
<!-- start ./ messenger -->
<div th:replace="/web/default/footer :: messenger"></div>
<!-- end ./ messenger -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:replace="/web/default/footer :: javascript"></div>
</body>

</html>