<div xmlns:th="http://www.thymeleaf.org">
<!-- Start ./ content -->
    <main th:fragment="home" class="content container">
        <div class="menu">
            <ul>
                <li class="active">
                    <img width="50" height="50" class="product" th:src="@{image/Icon/tu-tre-em.jpg}">
                    <br>
                    <a href="#">Tủ trẻ em</a>
                </li>
                <li>
                    <img width="50" height="50" class="product" th:src="@{/image/Icon/tu-quan-ao.jpg}">
                    <br>
                    <a href="#">Tủ quần áo</a>
                </li>
                <li>
                    <img width="50" height="50" class="product" th:src="@{/image/Icon/tu-dai-loan-canh-son.jpg}">
                    <br>
                    <a href="#">Tủ đài loan cánh sơn</a>
                </li>
                <li>
                    <img width="50" height="50" class="product" th:src="@{/image/Icon/tu-quan-ao-han-quoc.jpg}">
                    <br>
                    <a href="#">Tủ quần áo hàn quốc</a>
                </li>
                <li>
                    <img width="50" height="50" class="product" th:src="@{/image/Icon/ban-hoc.jpg}">
                    <br>
                    <a href="#">Bàn học</a>
                </li>
                <li>
                    <img width="50" height="50" class="product" th:src="@{/image/Icon/tu-giay.jpg}">
                    <br>
                    <a href="#">Tủ giày</a>
                </li>
                <li>
                    <img width="50" height="50" class="product" th:src="@{/image/Icon/giuong-va-tu-bep.jpg}">
                    <br>
                    <a href="#">Giường và tủ bếp</a>
                </li>
                <li>
                    <img width="50" height="50" class="product" th:src="@{/image/Icon/ke-tivi.jpg}">
                    <br>
                    <a href="#">Kệ tivi</a>
                </li>
            </ul>
        </div>
        <div class="list-product">
            <div class="card">
                <img th:src="@{/image/product/tu-2.jpg}" height="140" class="card-img-top radius" alt="...">
                <div class="sale">54%</div>
                <div class="card-body">
                    <h5 class="card-title">Tủ trẻ em</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-money"><s>150.000 VND</s></p>
                    <p class="card-money">99.000 VND</p>
                    <a href="#" class="btn btn-light"><i class="fas fa-cart-plus"></i></a>
                    <a href="#" class="btn btn-light"><i class="fas fa-heart"></i></a>
                    <div class="star">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p class="card-text">Đã bán 2,4k</p>
                </div>
            </div>
            <div class="pagination" >
                <a th:each="i : ${#numbers.sequence(0, totalPage)}"
                   th:class="${currentPage == i} ? 'active' : 'inactive'"
                   th:href="@{'home?Page=' + ${i}}" th:text="${i+1}">
                </a>
                <span>...</span>
                <a style="width: 40px;" th:href="@{'home?Page=' + ${currentPage >= totalPage ? currentPage : currentPage+1}}">Next</a>
            </div> <!--end pagination-->
        </div>
        <div class="list-all-product">
        <div class="menu-product">
            <div class="active">Sản phẩm mới nhất</div>
            <div>Sản phẩm mua nhiều nhất</div>
            <div>Sản phẩm nổi bật</div>
        </div>
        <div class="list-product-newest">
            <div class="card">
                <img th:src="@{/image/product/tu-3.jpg}" height="140" class="card-img-top rounded" alt="...">
                <div class="sale">54%</div>
                <div class="card-body">
                    <h5 class="card-title">Tủ trẻ em</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-money"><s>150.000 VND</s></p>
                    <p class="card-money">99.000 VND</p>
                    <a href="#" class="btn btn-light"><i class="fas fa-cart-plus"></i></a>
                    <a href="#" class="btn btn-light"><i class="far fa-heart"></i></a>
                    <div class="star">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p class="card-text">Đã bán 2,4k</p>
                </div>
            </div>
            <div class="pagination" >
                <a th:each="i : ${#numbers.sequence(0,totalGoodPage)}"
                   th:class="${currentGoodPage == i} ? 'active' : 'inactive'"
                   th:href="@{'home?PageGood=' + ${i}}" th:text="${i+1}">
                </a>
                <span>...</span>
                <a style="width: 40px;" th:href="@{'home?PageGood=' + ${currentGoodPage >= totalGoodPage? currentGoodPage: currentGoodPage+1}}">Next</a>
            </div>
        </div>
    </div>
    </main>
    <!-- End ./ content -->
</div>